---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
---

<Layout title="Eric Chen">
	<main>
		<h1 class = "title">Eric Chen</h1>

		<h1 class = "intro">
			Hello! My name is Eric, and I am a senior in high school in Vancouver. 
			I began programming 3 years ago, and over the years, I have developed a strong passion for computer science. 
			I enjoy exploring new technologies and working on projects.
		</h1>

		
		<h1 class = "intro">
			Feel free to contact me for any reason!
		</h1>
		<h1 class = "intro">
			<a href="https://github.com/falldownstairs" target="_blank"><img class = "contactIMG" src = "/GitHub.png"/></a>
			<a href="https://www.linkedin.com/in/eric-chen-1a557529b/" target="_blank"><img class = "contactIMG" src = "/Linkedin.png"/></a>
		</h1>
		

		<h1 class = "myWork">
			Projects
		</h1>

		<ul role="list" class="link-card-grid">
			<Project
				href1="https://github.com/falldownstairs/HackForYouth"
				href2="https://hack4youth.net/"
				title="Hack For Youth"
				body="Hack For Youth is a high school-led hackathon for which I was the lead organizer. I designed and programmed our website from scratch."
				picture="/projectIMG/HackForYouth.png"
				tech= "HTML, CSS, Astro"
				demo="demo"

			></Project>
			<Project
				href1="https://github.com/falldownstairs/SquareShot"
				href2="https://falldownstairz.itch.io/squareshot"
				title="SquareShot"
				body="SquareShot is a top-down roguelike game I created. It features random room generation, power-ups, various enemies, and bosses."
				picture="/projectIMG/SquareShot.png"
				tech= "C#, Unity"
				demo="demo"
			/>
			<Project
				href1="https://github.com/falldownstairs/FallDetection"
				href2=""
				title="Fall Detection"
				body="I created a neural network to detect falls and deployed it on a web server, allowing for fall visualization through requests to the server."
				picture="/projectIMG/FallDetection.png"
				tech= "python, ultralytics, requests, AWS"
				demo=""
			/>
			<Project
				href1="https://github.com/falldownstairs/RPG_bot"
				href2=""
				title="RPG Bot"
				body="RPG Bot is a Discord bot I created using the Discord API. It is designed to function as a text-based action game that users can enjoy."
				picture="/projectIMG/RPGBot.png"
				tech= "python, discord API"
				demo=""
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6; 
		font-family: "JetBrains Mono", monospace;
	}
	.intro{
		font-size: 24px;
		text-align: left;
		font-weight: 300;
		padding-top: 10px;
		padding-bottom: 10px;
		margin:0;
		color: rgb(197, 197, 197);
	}
	.myWork{
		font-size: 36px;
		text-align: middle;
		font-weight: 300;
		color: rgb(231, 231, 231);
		margin: 0;
		padding: 0;
	}
	.title{
		font-size: 90px;
		margin:0;
		padding-bottom: 20px;
		padding-top: 20px;
		font-weight: 800;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.contactIMG{
		width: 25px;
		height: 25px;
		filter: brightness(0) invert(1);
		color: rgb(255, 255, 255);
	}
	
</style>
